<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<section name="webConnectionConfiguration" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="webConnectionErrorPages" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>

	<appSettings>
		<!-- Configuration Settings for the Web Connection Visual Studio Add-in -->
		<add key="FoxProjectBasePath" value="c:\users\eric\documents\dev\fox\wconnect\" />
		<add key="WebProjectBasePath" value="C:\inetpub\wwwroot\ConferenceApp\" />
		<add key="WebProjectVirtual" value="http://localhost/ConferenceApp" />

		<!-- Optional PRG launched when VFP IDE launches -->
		<add key="IdeOnLoadPrg" value="" />

		<!-- The default browser used. Blank IE Automation, otherwise specify browser exe path -->
		<add key="WebBrowser" value="" />
		<add key="WebBrowserAlternate" value="c:\program files\mozilla firefox\firefox.exe" />

		<!-- The editor used to edit FoxPro code - blank means FoxPro Editor is used -->
		<add key="FoxProEditor" value="" />
		<add key="_FoxProEditorAlternate" value="C:\Program Files\pspad\pspad.exe" />
	</appSettings>

	<webConnectionConfiguration>
		<!-- NOTE: These settings apply only to the Web Connection Managed Module! -->
		<add key="Timeout" value="60" />
		<add key="PostBufferLimit" value="0" />
		<add key="TempPath" value="c:\users\eric\appdata\local\temp\wconnect\" />
		<add key="TempFilePrefix" value="WC_" />
		<add key="MessagingMechanism" value="File" />
		<add key="AdminAccount" value="ANY" />
		<add key="AdminPage" value="~/admin/admin.asp" />
		<add key="ExeFile" value="c:\users\eric\documents\dev\fox\wconnect\ConferenceApp.exe" />
		<add key="UpdateFile" value="" />
		<add key="LogDetail" value="False" />
		<add key="ValidateRequest" value="False" />
		<add key="ComServerProgId" value="ConferenceApp.ConferenceAppServer" />
		<add key="ComServerLoadingMode" value="LoadBased" />
		<add key="ServerCount" value="2" />
		<add key="AutoStartServers" value="False" />
		<add key="MessageDisplayFooter" value="&lt;small>Message generated by Web Connection IIS Connector Module&lt;/small>" />
	</webConnectionConfiguration>
	<webConnectionErrorPages>
		<!-- NOTE: These settings apply only to the Web Connection Managed Module! -->
		<add key="Exception" value="" />
		<add key="OleError" value="" />
		<add key="Timeout" value="" />
		<add key="NoOutput" value="" />
		<add key="Busy" value="" />
		<add key="Maintenance" value="" />
		<add key="InvalidRequestId" value="" />
		<add key="TranmitFileFailure" value="" />
		<add key="PostBufferSize" value="" />
	</webConnectionErrorPages>

	<system.web>
		<compilation defaultLanguage="c#" debug="true">
			<!-- Build Providers enable your script extensions to be editable in Visual Studio -->
			<buildProviders>
				<add extension=".wcsx" type="System.Web.Compilation.PageBuildProvider" />
				<add extension=".wc" type="System.Web.Compilation.PageBuildProvider" />
				<add extension="." type="System.Web.Compilation.PageBuildProvider" />
			</buildProviders>
		</compilation>

		<!-- Web Connection Managed Module requires that it runs in FULL TRUST -->
		<trust level="Full" />


		<httpHandlers>
			<!-- 
					 Web Connection Module enabling in IIS 5 and IIS 6 or IIS 7 non-integrated
					 NOTE: you still need to set up scriptmaps to c:\windows\Microsoft .NET\v2.0.50727\aspnet_isapi.dll
			-->
			<!--
					<add verb="*" path="*." type="Westwind.WebConnection.WebConnectionHandler,WebConnectionModule"/>
			<add verb="*" path="*.wc" type="Westwind.WebConnection.WebConnectionHandler,WebConnectionModule"/>
			<add verb="*" path="*.wcsx" type="Westwind.WebConnection.WebConnectionHandler,WebConnectionModule"/>
			<add verb="*" path="*.wcs" type="Westwind.WebConnection.WebConnectionHandler,WebConnectionModule"/>
			<add verb="*" path="*.wwsoap" type="Westwind.WebConnection.WebConnectionHandler,WebConnectionModule"/>
		 -->
			<!-- End pre IIS 7 -->
		</httpHandlers>
	</system.web>

	<!-- IIS 7 Script Map Configuration -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add name="Conference Requests" path="*.swfox" verb="*" modules="IsapiModule" scriptProcessor="C:\inetpub\wwwroot\ConferenceApp\bin\wc.dll" resourceType="Unspecified" preCondition="bitness32" />
			<add name="Web Connection" path="*.wc" verb="*" modules="IsapiModule" scriptProcessor="C:\inetpub\wwwroot\ConferenceApp\bin\wc.dll" resourceType="Unspecified" preCondition="bitness32" />
			<!-- Web Connection Module in IIS 7 in Integrated Mode -->
			<!--
			<add name="*._wconnect" path="*." verb="*" type="Westwind.WebConnection.WebConnectionHandler,WebConnectionModule" preCondition="integratedMode,runtimeVersionv2.0" />
			<add name="*.wc_wconnect" path="*.wc" verb="*" type="Westwind.WebConnection.WebConnectionHandler,WebConnectionModule" preCondition="integratedMode,runtimeVersionv2.0" />
			<add name="*.wcsx_wconnect" path="*.wcsx" verb="*" type="Westwind.WebConnection.WebConnectionHandler,WebConnectionModule" preCondition="integratedMode,runtimeVersionv2.0" />
			<add name="*.wcs_wconnect" path="*.wcs" verb="*" type="Westwind.WebConnection.WebConnectionHandler,WebConnectionModule" preCondition="integratedMode,runtimeVersionv2.0" />
			<add name="*.wwsoap_wconnect" path="*.wwsoap" verb="*" type="Westwind.WebConnection.WebConnectionHandler,WebConnectionModule" preCondition="integratedMode,runtimeVersionv2.0" />
			-->
			<!-- end IIS 7 in Integrated Mode -->

			<!-- IIS 7 non-integrated mode ScriptMappings: Change path to ASP.NET ISAPI DLL -->
			<!--
			<add name="_ISAPI" path="*." verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" />
			<add name="wc_ISAPI" path="*.wc" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" />
			<add name="wcsx_ISAPI" path="*.wcsx" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" />
			<add name="wwsoap_ISAPI" path="*.wwsoap" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" />
			-->
			<!-- end IIS 7 non-integrated mode ScriptMappings -->
		</handlers>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="index.htm" />
                <add value="Default.asp" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
                <add value="index.php" />
            </files>
        </defaultDocument>
	</system.webServer>

</configuration>